<%= comments.count %>件のコメント
<% comments.each do |comment| %>
  <div class="comment">
      <div class="comment-user">
        <div class="comment-user-name">
          <%= comment.user.nickname %>
        </div>
        <div class="current-time">
          <%= l comment.created_at %>
        </div>
        <% if comment.user == current_user%>
          <%= link_to department_comment_path(comment.department_id, comment.id), method: :delete,class:"comment-destroy", remote: true do %>
            <i class="fa fa-trash-o icon-fa" style="color: black;"></i>
          <% end %>
        <% end %>
      </div>
      <div class="comment-content">
        <%= comment.text %>
      </div>
      <%= image_tag comment.image.variant(resize: '500x500'), class: 'comment-image' if comment.image.attached? %>
  </div>
<% end %>