<div class="event-header">
  <div class=event-name>
    <%= @department.name %>
  </div>
  <div class="event-destroy">
    <%= link_to '予定表を削除する', department_path(@department.id), method: :delete, class:"button" %>
  </div>
</div>

<div class="event-main">
  <div class="plan-create">
    <%= link_to '予定を追加', new_department_event_path, class:"btn btn-primary btn-lg active" %>
  </div>
  <%# カレンダー%>
  <div class="tab-wrap">
    <ul>
      <li class="tab-btn show">月</li>
      <li class="tab-btn">週</li>
    </ul>
    <%# 月カレンダー%>
    <div id="events_calendar">
      <%= render partial: 'month_calendar_event', locals: {events: @events, department: @department} %>
    </div>
    <%# /月カレンダー%>
    <%# 週カレンダー%>
    <%= render partial: 'week_calendar_event', locals: {events: @events, department: @department} %>
    <%# /週カレンダー%>
  </div>
  <%# /カレンダー%>

  <%# コメント%>
  <div class="comments" id="comment-area">
    <%= render partial: 'comments/index', locals: { comments: @comments} %>
  </div>
  <%# /コメント%>
</div>

<%= form_with model: [@department, @comment], url: department_comments_path(@department), class: "form", remote: true do |f| %>
  <div class="form-comment">
    <%= f.text_field :text, placeholder: "type a message", class: "form-input", id:"content" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden", id:"content" %>
    </label>
  </div>
  <%= f.submit '送信', class: "form-submit" %>
<% end %>