<div class="event-header">
  <div class=event-name>
    <%= @department.name %>
  </div>
  <div class="event-destroy">
    <%= link_to '予定表を削除する', department_path(@department.id), method: :delete, class:"button" %>
  </div>
</div>

<div class="event-main">
  <div class="plan-create">
    <%= link_to '予定を追加', new_department_event_path %>
  </div>
  <div class="calendar">
    <%# カレンダ表 %>
    <%= month_calendar events: @events do |date, events| %>
      <%= date.day %>
      <%# カレンダー予定追加 %>
      <% events.each do |event| %>
        <div class="event-display">
          <%=link_to event.title, department_event_path(@department,event), class:"event-title"%>
          <span><%= event.start_time.strftime("%H:%M")%></span>
        </div>
      <% end %>
      <%#/ カレンダー予定追加 %>
    <% end %>
    <%#/ カレンダー表 %>
  </div>

  <div class="comments">
    <%= render partial: 'comment', collection: @comments %>
  </div>
</div>

<%= form_with model: [@department, @comment], class: "form", local: true do |f| %>
  <div class="form-comment">
    <%= f.text_field :text, placeholder: "type a message", class: "form-input" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: "hidden" %>
    </label>
  </div>
  <%= f.submit '送信', class: "form-submit" %>
<% end %>