<div class="event-form">
  <div class="plan-name font-weight-bold">新規予定追加</div>

  <%= form_with model: @events, url: department_events_path, local: true do |form| %>
    <%= render 'layouts/error_messages', model: @events %>


    <div class="form-group">
      <%= form.label :title, class:"event-title font-weight-bold" %>
      <%= form.text_field :title, class:"form-control" %>
    </div>

    <div class="start_time">
      <div class="time">
        <%= form.label :開始, class:"time-name font-weight-bold" %>
        <%= form.text_field :start_time, class:"flatpickr days", style: "border: none" %>
      </div>

      <div class="time">
        <%= form.text_field :start_time, class:"flatpickr_time form-control showTooltip",  title: "ツールチップ", placeholder:"select.time..." %>
      </div>
    </div>

    <div class="end_time">
      <div class="time">
        <%= form.label :終了, class:"time-name font-weight-bold" %>
        <%= form.text_field :end_time, class:"flatpickr days", style: "border: none" %>
      </div>

      <div class="time">
        <%= form.text_field :end_time, class:"flatpickr_time form-control", placeholder:"select.time..." %>
      </div>
    </div>

    <script>
      const config_time = {
        enableTime: true,   // 時間の選択可否
        noCalendar: true,   // カレンダー非表示
        dateFormat: "H:i",  // 表示フォーマット
        time_24hr: true,    // 時間24時間設定
        position: "above",  // 表示位置
      }
      const config_day = {
        dateFormat: "Y年m月d日", // 表示形式
        minDate: "today",    // 入力範囲指定（本日以降）
        defaultDate: 'today',// 日付デフォルト設定
        "locale": "ja",      // 言語設定
      }
      const config_end = {
        minTime: config_time
      }
      flatpickr('.flatpickr_time', config_time);
      flatpickr('.flatpickr', config_day);
      flatpickr('.flatpickr_end', config_end);
    </script>

    <div class="content form-group">
      <%= form.label :内容, class:"font-weight-bold" %>
      <%= form.text_area :content, class:"form-control text-area" %>
    </div>


    <div class="submit">
      <%= form.submit :登録,url: department_events_path, method: :post, class:"show-btn" %>
    </div>

    <div class="back">
      <%= link_to '←戻る', :back , class: 'back-btn' %>
    </div>

  <% end %>
</div>