<div class="event-form">
  <div class="plan-name">新規予定追加</div>

  <%= form_with model: @events, url: department_events_path, local: true do |form| %>

    <div class="form-group">
      <%= form.label :title, class:"event-title font-weight-bold" %>
      <%= form.text_field :title, class:"form-control" %>
    </div>

    <div class="time">
      <%= form.label :開始時間 %>
      <%= form.datetime_select :start_time %>
    </div>

    <div class="content form-group">
      <%= form.label :内容 %>
      <%= form.text_field :content %>
    </div>


    <div class="submit">
      <input name="event[department_ids][]" type="hidden" value=<%= @department.id %>>
      <%= form.submit :登録,url: department_events_path, method: :post %>
    </div>

  <% end %>
</div>