<div class="event-form">
  <div class="plan-name font-weight-bold">詳細</div>
  <table class="table show-table">
    <thead class="thead-dark">
      <tr>
        <th></th>
        <th class="font-weight-bold heading">Title</th>
        <th><%= @event.title %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"></th>
        <td class="font-weight-bold heading">開始時間</td>
        <td><%= @event.start_time.strftime("%Y年%m月%d日 %H:%M:%S") %></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td class="font-weight-bold heading">内容</td>
        <td><%= @event.content %></td>
      </tr>
    </tbody>
  </table>
  <div class="transition">
    <%= link_to '編集画面へ', edit_department_event_path(@department,@event), class: 'edit-btn' %>
    <%= link_to '予定を削除', department_event_path(@event),method: :delete, class: 'delete-btn' %>
  </div>
  <div class="back">
    <%= link_to '←戻る', :back , class: 'back-btn' %>
  </div>
</div>